body {
    -webkit-transition: all 1s ease-in; /* Safari */
    transition: all 1s ease-in;
}
#slider-window {
    position: relative;
    width: 640px;
    margin: 0 auto;
    overflow: hidden;
}
#slides-container {
    position: relative;
    width: 5000px;
    left: 0;
    font-size:0;
    transition: left 500ms linear;
}
.slide {
    width: 640px;
    display: inline-block;
}

#prev-arrow {
    position: absolute;
    left: 180px;
    top: 150px;
    cursor: pointer;
}
#next-arrow {
    position: absolute;
    right: 180px;
    top: 150px;
    cursor: pointer;
}

#prev-arrow, #next-arrow {
    font-size: 80px;
    color: red;
}

img {
    max-width: 100%;
    height: auto;
}

.d-none {
    display: none;
}
